@using BestPlace.Core.Models.Item
@using BestPlace.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.Scripting
@model ItemDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
@section Scripts {
    <script src="~/js/imageScript.js"></script>
}

@inject UserManager<ApplicationUser> UserManager

<section class="clean-block clean-catalog dark">
    <div class="container">
        <div class="block-heading"></div>
        <div class="block-content">
            <div class="product-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery">
                            <div id="product-preview" class="vanilla-zoom">
                                <div class="zoomed-image"></div>
                                <div class="sidebar">
                                    @foreach (var img in @Model.Images)
                                    {
                                        <img class="img-fluid d-block small-preview" id="@img.Id"
                                             src="@Url.Action("GetItemImage", "Image", new {id = @img.Id})">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <h3>@Model.Label</h3>
                            <div class="price">
                                <h3>@Model.Price BGN</h3>
                            </div>
                            <button class="btn btn-primary" type="button"><i class="icon-basket"></i>Info for contact</button>
                           @if (@Model.OwnerId == UserManager.GetUserId(User))
                           {
                               <a asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-primary" ><i ></i>Edit</a>
                               <a asp-controller="Item" asp-action="Remove" asp-route-id="@Model.Id"  class="btn btn-primary" ><i ></i>Remove</a>
                           }
                           
                          
                           
                           <div class="summary">
                                <p>@Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
