@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Use a local account to log in.</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input autocomplete="email" asp-for="Input.Email" class="form-control item" type="email">
            </div>

            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">Password</label>
                <input autocomplete="password" asp-for="Input.Password" class="form-control item" type="password">
            </div>
            
            <div class="mb-3">
                <label asp-for="Input.RememberMe" class="form-label"> @Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                <input  asp-for="Input.RememberMe"  class="form-check-input" type="checkbox"
                        id="formCheck-1">
            </div>
            
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            
            
         
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </form>
    </div>
    
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
