@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Create a new account.</h2>
        </div>
        <form  enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input autocomplete="email" asp-for="Input.Email" class="form-control item" type="email">
        </div>
            
            
        <div class="mb-3">
            <label asp-for="Input.FirstName" class="form-label">First name</label>
            <input  asp-for="Input.FirstName" class="form-control item" type="text">
        </div>
            
        <div class="mb-3">
            <label asp-for="Input.LastName" class="form-label">Last name</label>
            <input  asp-for="Input.LastName" class="form-control item" type="text">
        </div>
            
        <div class="mb-3">
            <label asp-for="Input.Address" class="form-label">Address</label>
            <input  asp-for="Input.Address" class="form-control item" type="text">
        </div>
            <div class="mb-3">
                <label asp-for="Input.Facebook" class="form-label">Facebook url</label>
                <input  asp-for="Input.Facebook" class="form-control item" type="text">
            </div>
            <div class="mb-3">
                <label asp-for="Input.Instagram" class="form-label">Instagram url</label>
                <input  asp-for="Input.Instagram" class="form-control item" type="text">
            </div>
        <div class="mb-3">
            <label asp-for="Input.Phone" class="form-label">Phone</label>
            <input  asp-for="Input.Phone" class="form-control item" type="text">
        </div>

        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input autocomplete="password" asp-for="Input.Password" class="form-control item" type="password">
        </div>
            <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm password</label>
            <input autocomplete="confirm-password" asp-for="Input.ConfirmPassword" class="form-control item" type="password">
        </div>
            <div class="mb-3">
                <label asp-for="Input.Img" class="form-label">Picture</label>
                <input  asp-for="Input.Img"   accept="image/*"  class="form-control item" type="file">
            </div>

            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            
           
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </form>
    </div>
    
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
