@using BestPlace.Core.Models.User;
@model UserDetailsViewModelAsAdmin
@{
    ViewData["Title"] = "Details";
}
<div id="content">
               
               <!-- dashboard inner -->
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>User</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>User info</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- user profile section --> 
                            <!-- profile image -->
                            <div class="col-lg-12">
                                <div class="full dis_flex center_text">
                                    <div class="profile_img">
                                        @if (@Model.ImageId != Guid.Empty)
                                        {
                                            <img width="180" class="img-responsive" src="@Url.Action("GetProfileImage", "Image", new {id = @Model.ImageId})" alt="#"/>
                                        }
                                        </div>
                                    <div class="profile_contant">
                                        <div class="contact_inner">
                                            <h3>@Model.FirstName @Model.LastName</h3>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-envelope-o"></i> : @Model.Email</li>
                                                <li><i class="fa fa-phone"></i> : @Model.Phone</li>
                                                <li><i class="fa  fa-home"></i> : @Model.Address</li>
                                                <a asp-area="Admin" asp-controller="User" asp-action="Remove" asp-route-id="@Model.Id" >Remove</a>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                Items
                                <div>
                                    @foreach (var item in  @Model.Items)
                                    {
                                        <p class="name_user"><a asp-area="Admin" asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">@item.Name</a> </p>
                                        @Html.Raw("------\n")                        
                                    }
                                    --
                                </div>
                                       
                                Roles
                                <div>
                                    @foreach (var role in  @Model.Roles)
                                    {
                                        <p class="name_user">@role </p>
                                        @Html.Raw("------\n")                        
                                    }
                                    --

                                </div>
                                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- end row -->
        </div>
                   
    </div>
</div>
</div>