@using BestPlace.Core.Models.Deal
@model DealDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div id="content">
               
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Item</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Item info</h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                  <div class="row"></div>
                                     <div class="col-lg-12">
                                       <div class="full dis_flex center_text">
                                           <div class="profile_contant">
                                             <div class="contact_inner">
                                                <h3>Deal for <a asp-area="Admin" asp-controller="Item" asp-action="Details" asp-route-id="">@Model.ItemName</a>  Item</h3>
                                                <ul class="list-unstyled">
                                                    <li ><i></i>ExOwner name : <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.ExOnwerId">@Model.ExOnwerName</a>  < </li>
                                                    <li ><i></i>Buyer name : <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.BuyerId">@Model.BuyerName</a>  < </li>
                                                    <li ><i></i>Address : @Model.DeliveryAddress < </li>
                                                    <li ><i></i>Address : @Model.DeliveryDescription < </li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- profile contant section -->
                                       <div class="full inner_elements margin_top_30">
                                          <div class="tab_style2">
                                             <div class="tabbar">

                                             </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- end user profile section -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-2"></div>
                        </div>
                        <!-- end row -->
                     </div>
                   
               </div>
            </div>